body{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
  
}
.div-1 img{
	width: 80vw;
	margin: 8%;

}
header{
	width: 100%;
	margin: 0;
	display: flex;
	margin-top: 0;
	  
}
header img{
	margin: 5% 5% 5% 2%;
	width: 45%;
}
header button{
	background-color: white;
	width: 35%;
	height: 40px;
	border-radius: 25px;
	border:none;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	margin: 5%;
	margin-left: 10%;
}
h2{
	margin: 10%;
	color: hsl(192, 100%, 9%);
	text-align: center;
}
p{
	margin:5%;
	line-height: 2rem;
	font-size: 1.3rem;
	text-align: center;
	color: hsl(192, 100%, 9%);
	font-family: 'Open Sans';
	font-weight: 400;
}
.header{
   width: 100%;
	background-image: url("./images/bg-hero-desktop.svg");
    background-color: white;
    object-fit: cover;
}
.div-1 button{
	background-color: hsl(322, 100%, 66%);
	width: 50%;
	height: 55px;
	border-radius: 25px;
	border:none;
	margin: 20%;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-weight: 700;
}
.boxes{
	width: 90%;
	margin:5%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0, 0.5) ;
} 
.themain{
	width: 100%;
	background-color: white;
	margin-bottom: 0;
}
.boxes p{
	margin: 6%;
	color: hsl(208, 11%, 55%);
	padding-bottom: 20px;
}
.boxes img{
	width: 90%;
	margin: 5%;
}
.box{
	background-color: white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	margin: 5%;
	margin-bottom: 7%;
	transform:translateY(50%);
	box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.5) ;
}
.box button{
	width: 60%;
	height: 55px;
	color: white;
	background-color: hsl(322, 100%, 66%);
	border-radius: 25px;
	margin-bottom: 5%;
	margin-left: 20%;
	border:none;
}
.footere{
	width: 100%;
	height: auto;
	background-color: hsl(192, 100%, 9%);
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
}
.footere p{
	color:white;
	text-align: left;
	font-size: 1.2rem;
}
.footere .header-img{
	margin-top: 25%;
	margin-left: 7%;
	filter: brightness(100);
	filter: invert(1.5) ;
}
.footere .header-img img{
	margin-top: 20%;
}
.footere a{
	color: white;
	display: block;
	text-decoration: none;
	margin-left: 5%;
	line-height: 3rem;
	font-weight: 400;
}
.rights p{
	font-family: 'Open Sans', sans-serif;
	font-size: 700;
	font-size: 1.2rem;
	text-align: center;
	padding-bottom: 5%;
	margin-bottom: 0;
}
.margin2{
	margin-bottom: 100px;
}
.marginbottom{
	margin-bottom: 20px;
}
.icons{
	display: flex;
	margin-left: 30%;
	flex-direction: row;
	margin-top: 5%;
}
.icons img{
	width: 8%;
	margin-left: 7%;
	filter: brightness(100);
	
}
@media (min-width: 600px){
	.themain{
		margin: 0;
		padding: 0;
	}
	header{
		margin-top: 0;
	margin-right: 0;
	}
	.header{
		background-image: url(./images/bg-hero-desktop.svg);
		background-color: hsl(193, 100%, 96%);
		object-fit: cover;

	}
header button{
	 	width: 13%;
	 	margin-left:50%;
	 	font-weight: 700;
	 	color: hsl(192, 100%, 9%);
	 	margin-top: 2%;
	 }
 header img{
 	margin-left: 7%;
 	margin-top: 2%;
 }
 .div-1{
 	display: flex;
 	flex-direction: row;
 	text-align: left;
 }
 .div-1 img{
 	width: 45%;
 	margin-left: 7%;
 	margin-top: 2%;
 }
 .para{
 	width: 40%;
 	margin-left: 5%;
 	margin-top: 3%;
 }
 .para button{
 	align-self: left;
 	margin-left: 5%;
 	width: 50%;
 }
 p{
 	text-align: left;
 	margin-left: 5%;
 	font-weight: 400rem
 }
 h2{
 	font-weight: 700;
 	font-size: 2.5rem;
 	margin-left: 0;
 	margin-bottom: 2%;
 	margin-top: 2%;

 }
 .boxes{
 	display: flex;
 	flex-direction: row-reverse;
 }
 .boxes img{
 	width: 40%;
 	margin: 2%;
 }
 .boxes div{
 	align-items: center;
 	justify-content: left;
 	align-self: center;
 }
 .boxes h2{
 	font-size: 1.5rem;
 	margin-left: -20%;
 	
 }
 .footere{
 	background-color: hsl(192, 100%, 9%);

 }
 .box{
 	width: 50%;
 	margin-left: 25%;
 	margin-top: 0;
 	margin-bottom: 5%;
 	transform:translateY(75%);
 }
 .box button{
 	width: 50%;
 	margin-left: 25%;
 	box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.3) 
 }
 .box h2{
 	text-align: center;
 	margin-left: 10%;
 }
 .footere{
 	display: flex;
 	flex-direction: row;
 	margin-right: 0;
 }
 .footere .f-half{
 	width: 40%;
    margin-top: 0;
 }
 .footere p{
 	margin: 5%;
 	margin-top:2%;
 	margin-bottom: 2%;
 }
 .footere .links{
 	margin-top: 12%;
 	margin-left: 5%;
 }
 .footere p{
 	margin-top: 5%;
 }
 .rights{
 	margin-top:15%;
 	margin-left: 10%;
 }
 .rights p{
 	font-size: 0.9rem;
 	margin-left: 5%;
 }
 .icons{
   margin-left: 30%;
 }
 .icons img{
	width:10%;
	margin-left: 7%;
	filter: brightness(100);
	
}
}